doctype html
html(lang="eng")
    head
        title Game
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        meta(name="description" content="Game")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(href="css/main.css" rel="stylesheet")
        script(src="script/main.js")
    body
        main
            .main-container
                section.top
                section.bottom-bar
                    .bottom-bar-container
                        button(onclick="").bottom-bar__info
                            .bottom-bar__info-icon
                        .bottom-bar__bet
                            button(onclick="").bottom-bar__bet-minus
                                .bottom-bar__bet-minus-icon
                            .bottom-bar__bet-labels
                                span.bottom-bar__bet-head TOTAL BET
                                span.bottom-bar__bet-count ¥8808.10
                            button(onclick="" disabled).bottom-bar__bet-plus
                                .bottom-bar__bet-plus-icon
                        .bottom-bar__coin
                            span.bottom-bar__coin-head COIN
                            span.bottom-bar__coin-count ¥5689
                        .bottom-bar__win
                            span.bottom-bar__win-label GOOD LUCK!
                        .bottom-bar__turbo
                            input(onclick="" type="checkbox").bottom-bar__turbo-cb#switch-turbo
                            label(for="switch-turbo").bottom-bar__turbo-btn
                        .bottom-bar__auto
                            .bottom-bar__auto-menu-container
                                ul.bottom-bar__auto-menu
                                    li.special-item
                                        .icon-container
                                            .icon-feature
                                        span UNTIL FEATURE
                                    li 
                                        span 25 SPINS
                                    li 
                                        span 20 SPINS
                                    li 
                                        span 15 SPINS
                                    li 
                                        span 10 SPINS
                                    li 
                                        span 5 SPINS
                            button(onclick="").bottom-bar__auto-btn
                                p AUTO
                        button(onclick="").bottom-bar__start
                            .bottom-bar__start-icon